
/*:rootは、HTML全体のルートテーブル要素<html>を指すセレクタ。
ページ全体に関わる基本設定をここに書く慣習。
*/
:root {
  /*「このページはライトモード・ダークモードどちらにも対応しています」とブラウザに
  伝える設定
  スクロールバーなどブラウザ標準部品の見た目に影響*/
  color-scheme: light dark;

  /*文字のフォントを指定しているsystem-uiは、
  OSが標準で使っているフォントを使う、
  という意味*/
  font-family: system-ui, sans-serif;
}

/*ブラウザは<body>の周りに初期状態で余白を入れているが、それを０にリセットし、
代わりに padding （内側の余白）を２rem（文字サイズの2倍）分だけ均等に付けていきます*/
body {
  margin: 0;
  padding: 2rem;
}

/*cssは、文法チェックがなく、エラーが返ってくることはなく、タイプミスの文章はただ無視
されるだけとなる。そのため、エラーについては自分自身で気付く必要がある*/